.tooltip {

    .tooltip-inner {
        background-color: #333333;
        border-radius: 4px;
        color: #FFFFFF;
        line-height: 60px;
        margin-bottom: 20px;
        position: relative;
        text-align: center;

        &:after {
            background-color: #333333;
            bottom: -10px;
            content: '';
            display: block;
            height: 20px;
            position: absolute;
            right: 20%;
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
            width: 20px;
        }
    }
}
